body {
  padding: 20px;
}

button {
  font-family: monospace;
  font-size: 20px;
  background: white;
  padding: 10px 20px 10px 20px;
  border: 2px solid;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #444444;
  border-color: #444444;
}

button:hover {
  background: #C9F0F2;
}

button:disabled {
  color: #cccccc;
  border-color: #cccccc;
}

button:disabled:hover {
  background: white;
}

.btn-active {
  background: #5CBDED;
}

#resetbutton {
  position: absolute;
  top: 60px;
}

#snakeviz-text {
  color: #cccccc;
  font-family: monospace;
  position: absolute;
  top: -10px;
}

select {
  font-family: monospace;
  font-size: 20px;
  background: white;
  padding: 10px 20px 10px 20px;
}

#sv-depth-label {
  font-family: monospace;
  position: absolute;
  top: 120px;
}

#sv-call-stack {
  position: absolute;
  right: 0;
  padding-right: 10px;
  font-family: monospace;
}

#sv-call-stack-list {
  overflow: scroll;
  border: 2px solid gray;
  margin-top: 5px;
  display: none;
}

#sv-call-stack-list div {
  padding: 0 10px 0 10px;
}

#sv-info-div {
  position: absolute;
  top: 160px;
  display: none;
  overflow: hidden;
}

.sv-info-label {
  font-weight: bold;
}

.sv-info-item {
  font-family: monospace;
  word-wrap: break-word;
}
