<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>d3.js ~ Sunburst</title>
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/jquery.tipsy.js"></script>
    <script src="/static/tooltip.js"></script>
    <link href="/static/tipsy.css" rel="stylesheet">
    <link href="/static/tooltip.css" rel="stylesheet">

    <script src='https://www.google.com/jsapi'></script>
    <script>
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'ncalls');
        data.addColumn('number', 'tottime');
        data.addColumn('number', 'percall');
        data.addColumn('number', 'cumtime');
        data.addColumn('number', 'percall');
        data.addColumn('string', 'filename:lineno(function)')
        data.addRows([
          {% for row in stats_rows %}
            [{{', '.join(row[:5])}}, "{{' '.join(row[5:])|safe}}"],
          {% endfor %}
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {});
      }
    </script>
  </head>
  <body>

    <h1 id='sunburst'>Sunburst</h1>
    <div class='gallery' id='chart'>
      <button class='first' id='size'>
        Size
      </button><button class='last active' id='count'>
        Count
      </button><p>
    </div>
    <script src='/static/sunburst.js'> </script>
    <script>
    d3.json("/json/{{profile_name}}.json", function(json) {
      var path = vis.data([json]).selectAll("path")
          .data(partition.nodes)
          .enter().append("path")
          .attr("display", function(d) { return d.depth ? null : "none"; }) // hide inner ring
          .attr("d", arc)
          .attr("fill-rule", "evenodd")
          .style("stroke", "#fff")
          .style("fill", function(d) { return color((d.children ? d : d.parent).name); })
          .each(stash)
          .call(d3.helper.tooltip(function(d, i) {
            return d.filename + ':' + d.line_number + ' (' + d.name + ')';}));

          // $('svg path').tipsy({
          //   gravity: $.fn.tipsy.autoWE,
          //   html: false,
          //   title: function() {
          //     var d = this.__data__;
          //     return d.filename + ':' + d.line_number + ' (' + d.name + ')';
          //   }
          // });

      d3.select("#size").on("click", function() {
        path
          .data(partition.value(function(d) { return d.size; }))
          .transition()
          .duration(1500)
          .attrTween("d", arcTween);

        d3.select("#size").classed("active", true);
        d3.select("#count").classed("active", false);
      });

      d3.select("#count").on("click", function() {
        path
          .data(partition.value(function(d) { return 1; }))
          .transition()
          .duration(1500)
          .attrTween("d", arcTween);

        d3.select("#size").classed("active", false);
        d3.select("#count").classed("active", true);
      });
    });
    </script>
    <div id="table_div"></div>
  </body>
</html>
