<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{profile_name.split('/')[-1].split('.')[0]}}</title>
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <!-- Mouse-over tooltip -->
    <script src="/static/tooltip.js"></script>
    <link href="/static/tooltip.css" rel="stylesheet">
    <!-- Stats table. -->
    <script src='https://www.google.com/jsapi'></script>
    <script>
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'ncalls');
        data.addColumn('number', 'tottime');
        data.addColumn('number', 'percall');
        data.addColumn('number', 'cumtime');
        data.addColumn('number', 'percall');
        data.addColumn('string', 'filename:lineno(function)')
        data.addRows([
          {% for row in stats_rows -%}
            [{v: {{row[0].split('/')[0]}}, f: "{{row[0]}}"},
            {{row[1:5]|join(', ')}}, "{{row[5:]|join(' ')|safe}}"],
          {%- endfor %}
        ]);
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {});
      }
    </script>
    <!-- Global variable with the profile name. -->
    <script>
      profile_name = '{{profile_name}}';
    </script>
  </head>
  <body>
    <h1 id='sunburst'><a href="/">WSV</a>
      <a href="/json/{{profile_name}}.json">JSON</a>
    </h1>
    <div class='gallery' id='chart'></div>
    <script src='/static/wheel.js'> </script>
    <br>
    <div id="table_div"></div>
  </body>
</html>
